.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(21, 21, 21);
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 14px 32px;
  text-decoration: none;
}
 
.titleDesc h2 {
  margin: 0;
  padding-left: 8px;
  padding-bottom: 10px;
  padding-top: 4px;
  display: inline-block;
}

.titleDesc p {
  margin: 0;
  padding-left: 8px;
  padding-bottom: 10px;
  padding-top: 4px;
  display: inline-block;
}

.titleDesc p a {
  text-decoration: underline dotted gray;
  color: white;
}

.titleDesc p a:hover {
  cursor: help;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 10%;
}

.menu a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(37, 37, 37);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(91, 91, 91);
}

.dropdown:hover .dropdown-content {
  display: block;
}