body {
  background-color: rgb(17, 16, 17);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(243, 232, 243)
}

.selection {
  height: 100%;
  width: 100%;
  max-height: 300px;
  background-color: rgb(37, 37, 37);
  overflow-y: scroll;
}

.selection table {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  background-color: rgb(37, 37, 37);
  text-align: center;
}

.selection table th {
  font-size: 16px;
  background-color: rgb(32, 32, 32);
  padding: 6px;
}

.selection tr:nth-child(even) {
  background-color: rgb(37, 37, 37);
}

.selection tr:nth-child(odd) {
  background-color: rgb(34, 34, 34);
}

.selection table tr {
  padding: 8px;
}

.selection table a {
  display: block;
  padding: 6px 8px;
  text-decoration: none;
  color: rgb(252, 245, 251);
}

.selection table a:hover {
  background-color: rgb(27, 27, 27);
  color: rgb(172, 172, 172);
}

.selection table th:hover {
  cursor: s-resize;
}

.GeneralBoon {
  color: rgb(92, 132, 243);
}

.CombatBoon {
  color: rgb(224, 109, 109);
}

.SpellcastingBoon {
  color: rgb(231, 121, 231);
}

.ClassBoon {
  color: rgb(137, 240, 137);
}
.search {
  display: block;
  background-color: rgb(44, 44, 44);
}

.search input {
  background-color: rgb(44, 44, 44);
  border: none;
  font-size: 14px;
  color: whitesmoke;
  margin-right: 10px; 
  padding: 8px;
  width: 80%;
  position: sticky;
  }

.search input:focus {
  border: none;
  outline: none;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(26, 26, 26);
}

.menu li {
  display: inline;
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: rgb(37, 37, 37);
}

.boons {
  display: block;
  text-align: justify;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 20px;
  background-color: rgb(27, 27, 27);
  height: 100%;
}

.boons a {
  display: block;
  text-decoration: none;
  color: rgb(252, 245, 251);
  padding: 6px;
}

.boons a:hover {
  background-color: rgb(22, 22, 22);
  color: rgb(172, 172, 172);
}